/* define chatbot surface*/
df-messenger {
            --df-messenger-bot-message: #0077ae;
            --df-messenger-button-titlebar-color: #00305d;
            --df-messenger-chat-background-color: #fafafa;
            --df-messenger-font-color: white;
            --df-messenger-send-icon: #00305d;
            }